- show_controls = local_assigns.fetch(:show_controls, true)
- pipeline = @build.pipeline

.content-block.build-header.top-area.page-content-header
  .header-content
    = render 'ci/status/badge', status: @build.detailed_status(current_user), link: false, title: @build.status_title
    流水线
    %strong
      = link_to "##{pipeline.id}", pipeline_path(pipeline)
    的
    %strong
      作业
      = link_to "##{@build.id}", project_job_path(@project, @build), class: 'js-build-id'
    来自
    %strong
      = link_to @build.ref, project_ref_path(@project, @build.ref), class: 'ref-name'
    的提交
    %strong
      = link_to pipeline.short_sha, project_commit_path(@project, pipeline.sha), class: 'commit-sha'

    = render "projects/jobs/user" if @build.user
    于
    = time_ago_with_tooltip(@build.created_at)

  - if show_controls
    .nav-controls
      - if can?(current_user, :create_issue, @project) && @build.failed?
        = link_to "新建问题", new_project_issue_path(@project, issue: build_failed_issue_options), class: 'btn btn-new btn-inverted'
      - if can?(current_user, :update_build, @build) && @build.retryable?
        = link_to "重试作业", retry_project_job_path(@project, @build), class: 'btn btn-inverted-secondary', method: :post
    %button.btn.btn-default.float-right.d-block.d-sm-none.d-md-none.build-gutter-toggle.js-sidebar-build-toggle{ role: "button", type: "button" }
      = icon('angle-double-left')
