- page_title "里程碑"

.top-area
  = render 'shared/milestones_filter', counts: @milestone_states

  .nav-controls
    = render 'shared/milestones_sort_dropdown'
    - if can?(current_user, :admin_milestone, @group)
      = link_to "新建里程碑", new_group_milestone_path(@group), class: "btn btn-new"

.milestones
  %ul.content-list
    - if @milestones.blank?
      %li
        .nothing-here-block 没有里程碑
    - else
      - @milestones.each do |milestone|
        = render 'milestone', milestone: milestone
  = paginate @milestones, theme: "gitlab"
