= form_for @label, as: :label, url: url, html: { class: 'label-form js-quick-submit js-requires-input' } do |f|
  = form_errors(@label)

  .form-group.row
    = f.label :title, "标题", class: 'col-form-label col-sm-2'
    .col-sm-10
      = f.text_field :title, class: "form-control", required: true, autofocus: true
  .form-group.row
    = f.label :description, "描述", class: 'col-form-label col-sm-2'
    .col-sm-10
      = f.text_field :description, class: "form-control js-quick-submit"
  .form-group.row
    = f.label :color, "背景色", class: 'col-form-label col-sm-2'
    .col-sm-10
      .input-group
        .input-group-prepend
          .input-group-text.label-color-preview &nbsp;
        = f.text_field :color, class: "form-control"
      .form-text.text-muted
        选择任意颜色。
        %br
        或者在下面选择一个推荐的颜色

      .suggest-colors
        - suggested_colors.each do |color|
          = link_to '#', style: "background-color: #{color}", data: { color: color } do
            &nbsp;

  .form-actions
    - if @label.persisted?
      = f.submit '保存修改', class: 'btn btn-save js-save-button'
    - else
      = f.submit '创建标记', class: 'btn btn-create js-save-button'
    = link_to '取消', back_path, class: 'btn btn-cancel'
