= icon_for_profile_event(event)

.event-title
  %span.author_name= link_to_author(event)
  %span{ class: event.action_name }
    = event.action_name

  - if !event.target_type
    项目

  - if event.project
    = link_to_project event.project
  - else
    = event.project_name

  - if event.target
    的
    %strong
      = link_to [event.project.namespace.becomes(Namespace), event.project, event.target], class: 'has-tooltip', title: event.target_title do
        = event.target_type_zh
        = event.target.reference_link_text

- if event.target.respond_to?(:title)
  .event-body
    .event-note
      = event.target.title
